<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.store.dao.AddressDao"> 
			<!-- USER ADDRESS  -->
			<update id="UpDateAddress">
			   UPDATE
			   address
			   SET
			   address1 = #{address1},
			   address2 = #{address2},
			   address3 = #{address3},
			   address4 = #{address4}
			   WHERE
			   user_email = #{user_email}
			</update>
			
			<insert id="insertSubAddress">
			 INSERT INTO
			 address
			 ( user_email, r_name, address1, address2, address3, address4 ) 
			 VALUES
			 ( #{user_email}, #{r_name}, #{address1}, #{address2}, #{address3}, #{address4})
			</insert>
			
		    <select id="getAddressList" resultType="com.store.dto.AddressDto">
			 	SELECT * FROM
			 	address 
			 	WHERE 
			 	user_email = #{user_email}
			</select>
			
			<delete id="deleteInfoAddress">
			  DELETE
			  FROM
			  address
			  WHERE
			  user_email = #{user_email}
			</delete>
			
			<select id="selectAddress" resultType="int">
			    SELECT COUNT(*)
			    FROM
			 	address 
			 	WHERE 
			 	user_email = #{user_email}
			</select>
			
			<update id="updateSubAddress">
			UPDATE 
			address
			SET
			r_name = #{r_name},
			address1 = #{address1},
			address2 = #{address2},
			address3 = #{address3},
			address4 = #{address4}
			WHERE
			user_email = #{user_email} AND address_index = #{address_index}
			</update>
			
	       <select id="getAddressDto" resultType="com.store.dto.AddressDto">
			    SELECT *
			    FROM
			 	address 
			 	WHERE 
			 	user_email = #{user_email} AND address_index = #{address_index};
		   </select>
		   
		   <delete id="deleteSubAddress">
			  DELETE
			  FROM
			  address
			  WHERE
			  user_email = #{user_email} AND address_index = #{address_index}
		  </delete>
</mapper>